@font-face {
  src: url('../../fonts/Inter/Inter-Regular.woff2') format('woff2'),
  src: url('../../fonts/Inter/Inter-Regular.woff') format('woff');
  font-family: 'Inter';
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter' 'Arial', sans-serif;
  color: #fff;
  margin: 0 auto;
  max-width: 1600px;
  text-rendering: optimizeLegibility;
}
