@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    max-width: 720px;
  }
}

@media screen and (max-width: 370px) {
  .photo-grid {
    grid-template-columns: 288px;
  }
}
