.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25%;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 400px) {
  .cover__subtitle {
    max-width: 288px;
    padding-top: 16px;
  }
}
