@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_status/header__lang-link_status_active.css);

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}
