@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_status/header__lang-link_status_active.css);

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 786px) {
  .header {
    max-width: 720px;
  }
}
