.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .footer__link {
    font-size: 24px;
    line-height: 56px;
  }
}
