.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  padding-left: 16px;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    text-align: start;
    padding-left: 16px;
  }
}
