.cover__background {
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-image: url(../../../images/baikal-travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .cover__background {
    max-width: 100%;
    height: auto;
  }
}
